# Project exclude paths
/.gradle/
/.idea/
/build/
/out/
/terraform/.terraform/
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
# /src/main/resources/application-oauth.properties
